<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vladarseniuk-001-site1.btempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://vladarseniuk-001-site1.btempurl.com:8172/msdeploy.axd?site=vladarseniuk-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>vladarseniuk-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\vladarseniuk-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=geomusic.mssql.somee.com;Initial Catalog=geomusic;Persist Security Info=True;User ID=vladarseniuk_SQLLogin_1;Password=4czl5qq7ho" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GeoMusicSiteClient.Models.ApplicationDbContext, GeoMusicSiteClient" MigrationConfiguration="GeoMusicSiteClient.Migrations.Configuration, GeoMusicSiteClient" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=geomusic.mssql.somee.com;Initial Catalog=geomusic;Persist Security Info=True;User ID=vladarseniuk_SQLLogin_1;Password=4czl5qq7ho</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>